body, html {
  font-family: $primaryFontFamily;
  position: relative;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
  font-weight: 400;
  height: 100%;
  -webkit-text-size-adjust: none;
}

.st-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  img {
    max-width: 100%;
  }
}
