$colorPrimary: #3E4056;
$colorSecondary: #F05D63;
$colorText: #3E3F58;
$colorTextLite: #636363;
$colorGrey: #B2B3BB;
$colorBg: #ECF1F8;


$primaryFontFamily: "OpenSans";
$secondaryFontFamily: "Montserrat";
// Breakpoints
$mobileSmall: 540px;
$mobile: 767px;
$tabletSecondary: 992px;
$tablet: 1100px;
$desktop: 1440px;

