<div class="st-container">
  <div class="st-profile">
    <div class="st-profile__descr">
      {% include "partials/_profile_card.html" %}
    </div>
    <div class="st-profile__info">
      <div class="st-profile__switch">
        <div class="st-text">
          Public
        </div>
        <div class="st-switch">
          <input type="checkbox" id="switch-first" class="st-switch__input">
          <label class="st-switch__label" for="switch-first"></label>
        </div>
        <div class="st-text">
          Private
        </div>
      </div>
      <div class="st-profile__cardWrap">
        <div class="card-info">
          <div class="card-info__topline"></div>
          <div class="card-info__inner">
            <div class="card-info__title">
              New air routes that promise cheap flights in
            </div>
            <div class="card-info__descr">
              <div class="st-avatar reverse">
                <div class="st-avatar__control">
                  <div class="st-avatar__title">
                    Gregory Watkins
                  </div>
                  <div class="st-avatar__photo">
                    <img src="img/avatar@2x.png" alt="avatar">
                  </div>
                </div>
              </div>
              <a href="#" class="st-link">
                Share
              </a>
            </div>
          </div>
        </div>
        <div class="card-info">
          <div class="card-info__topline"></div>
          <div class="card-info__inner">
            <div class="card-info__title">
              New air routes that promise cheap flights in
            </div>
            <div class="card-info__descr">
              <div class="st-avatar reverse">
                <div class="st-avatar__control">
                  <div class="st-avatar__title">
                    Gregory Watkins
                  </div>
                  <div class="st-avatar__photo is-empty"></div>
                </div>
              </div>
              <a href="#" class="st-link">
                Share
              </a>
            </div>
          </div>
        </div>
        <div class="card-info">
          <div class="card-info__topline">
            <div class="st-clipboard">
              <div class="st-text">Shared to</div>
              <a href="#" class="st-clipboard__control st-text">
                #discussionaboutanimgttdddqwdwqqdwqdwqdwqd
              </a>
            </div>
          </div>
          <div class="card-info__inner">
            <div class="card-info__title">
              New air routes that promise cheap flights in
            </div>
            <div class="card-info__descr">
              <div class="st-avatar reverse">
                <div class="st-avatar__control">
                  <div class="st-avatar__title">
                    Gregory Watkins
                  </div>
                  <div class="st-avatar__photo is-empty"></div>
                </div>
              </div>
              <div class="card-info__shared">
                <a href="#" class="shared-item">
                  <div class="shared-item__icon">
                    <img src="img/icons/like.svg" alt="like">
                  </div>
                  <div class="shared-item__text">88</div>
                </a>
                <a href="#" class="shared-item">
                  <div class="shared-item__icon">
                    <img src="img/icons/view.svg" alt="view">
                  </div>
                  <div class="shared-item__text">24</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-info">
          <div class="card-info__topline">
            <a href="#" class="iconed-link iconed-link_primary">
              <span class="iconed-link__ico">
                <img src="img/icons/weblink.svg" alt="weblink">
              </span>
              <span class="iconed-link__text">
                Shared via weblink
              </span>
            </a>
          </div>
          <div class="card-info__inner">
            <div class="card-info__title">
              New air routes that promise cheap flights in
            </div>
            <div class="card-info__descr">
              <div class="st-avatar reverse">
                <div class="st-avatar__control">
                  <div class="st-avatar__title">
                    Gregory Watkins
                  </div>
                  <div class="st-avatar__photo">
                    <img src="img/avatar@2x.png" alt="avatar">
                  </div>
                </div>
              </div>
              <div class="card-info__shared">
                <a href="#" class="shared-item">
                  <div class="shared-item__icon">
                    <img src="img/icons/like.svg" alt="like">
                  </div>
                  <div class="shared-item__text">88</div>
                </a>
                <a href="#" class="shared-item">
                  <div class="shared-item__icon">
                    <img src="img/icons/view.svg" alt="view">
                  </div>
                  <div class="shared-item__text">24</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
